body{
    background: lightskyblue;
    margin: 0;
}

header{
    height: 70px;
    width: 100%;
    background: rgb(37, 37, 37);
}

p.h1{
    text-align: center;
    font-size: 3.0em;
    background: rgb(2, 2, 65);
    color: white;
}

p.h2{
    font-size: 2.2em;
    text-align: center;
    background: rgb(2, 2, 65);
    color: white;
}

p.text{
    text-align: left;
    margin-left: 2em;
}

section{
    height: 15vh;
    width: 100%;
    background: #334;
    font-size: 12px;
}

p{
    font-size: 1.0em;
    line-height: 1.5;
    text-align: center;
}

div{
    height: 100%;
    width: 60%;
    background: white;
    margin-left: auto;
    margin-right: auto;
}

div.image{
    margin-left: auto;
    margin-right: auto;
}

figcaption{
    text-align: center;
}
img.display{
    display: block;
    margin-left: auto;
    margin-right: auto;
}